.background { 
  background: url(../assets//home.jpg) no-repeat center center fixed;
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

nav {
  margin: auto;
  color: white;
}

nav a {
  color: white;
}

nav a:visited {
  color: white;
}

nav a:hover {
  color: #808080;
}

nav a[href^="mailto"] {
  color: white;
}

nav a[href^="mailto"] {
  color: white;
}

nav a[href^="mailto"]:hover {
  color: #808080;
}

.nav-background { 
  background:  rgba(0, 0, 0, 0.85);
}

.nav-enter {
  opacity: 0;
}

.nav-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}

.nav-exit {
  opacity: 1;
}

.nav-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}