.masonry {
  margin: 0 auto;
  column-count: 1;
  width: 300px;
}

@media only screen and (min-width: 640px) {
  .masonry {
    column-count: 2;
    width: 640px;
  }
}

@media only screen and (min-width: 980px) {
  .masonry {
    column-count: 3;
    width: 980px;
  }
}

@media only screen and (min-width: 1320px) {
  .masonry {
    column-count: 4;
    width: 1320px;
  }
}

@media only screen and (min-width: 1660px) {
  .masonry {
    column-count: 5;
    width: 1660px;
  }
}

@media only screen and (min-width: 2000px) {
  .masonry {
    column-count: 6;
    width: 2000px;
  }
}

.masonry img {
  background-color: #eee;
  display: inline-block;
  margin-bottom: 10px;
  width: 300px;
  cursor: pointer;
}

.masonry img:hover {
  opacity: 0.9;
}

header {
  height: 80px;
}

header h1 {
  padding-top: 35px;
  font-size: 16px;
}

footer {
  height: 50px;
  margin-top: 20px;
}


.lightbox {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(1, 1, 1, 0.85);
  display: grid;
  cursor: pointer;
}

.lightbox img {
  margin: auto;
  max-height: 90%;
}
